
<nav class="navbar bottom navbar-dark bg-dark">
    <div class="nav justify-content-center">
        <div class="row">
            <div class="text-center">
                <div class="col-sm-12">
                    <a href="https://github.com/Arriev93/" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/adriaan-venter-425467122/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/Arrie93" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://www.instagram.com/arriev93/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.paypal.com/paypalme/arriev93" target="_blank"><i class="fa fa-paypal"></i></a>
                </div>
                <div class="col-sm-12">
                    <p class="white-text">Copyright &#169; 2021 Jan Adriaan Venter, South Africa, All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
  </nav>