<nav class="nav nav-fill bg-dark">
    <div class="nav-item nav-link text-left">
        <a href="https://github.com/Arriev93/" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/adriaan-venter-425467122/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/Arrie93" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/arriev93/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.paypal.com/paypalme/arriev93" target="_blank"><i class="fa fa-paypal"></i></a>
    </div>
    <div class="nav-item nav-link text-right">
        <p class="white-text">Copyright &#169; 2021 Jan Adriaan Venter, South Africa, All rights reserved.</p>
    </div>
</nav>