<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a class="nav-item nav-link" routerLink="/">Home</a>
                </li>
                <li role="presentation"> 
                    <a class="nav-item nav-link" routerLink="/about">About</a>
                </li>
                <li role="presentation">
                    <a class="nav-item nav-link" routerLink="/curriculum-vitae">Curriculum Vitae</a>
                </li>
                <li role="presentation">
                    <a class="nav-item nav-link" routerLink="/projects">Projects</a>
                </li>
                <li role="presentation">
                    <a class="nav-item nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>