<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title"><strong>A little backstory.</strong></h5>
                <p class="card-text">
                    Since my first time experience coding (my first hello world project in C++ for a University project) in early 2014, I enjoyed and experienced
                    a way to be creative and express myself that I have not felt with other mediums prior.
                </p>
                <p class="card-text">
                    Originally from a small town called <strong>Warmbaths</strong> in the Limpopo province in South Africa, I started getting a feel for technology
                    by taking apart my computer, putting it back together, breaking it, fixing it, and trying to troubleshoot typical software issues. It was there
                    that I fell in love with the idea to pursue a career in the IT world.
                </p>
                <p class="card-text">
                    After completing my schooling, I went on to work part-time as an admin clerk for a small secondhand cardealership and in early 2014 I registered
                    through UNISA (the University of South Africa) to study a degree with a major in Computer Science, it was here where I got my first taste of coding
                    and it was mind-opening. The fact that I could create whatever I wanted and how I wanted by simply writing it up boggled my mind and that is where it started.
                </p>
                <p class="card-text">
                    While studying part-time via distance through UNISA, I ended moving down to Cape Town, Western Cape, South Africa, and got an intership at a large company
                    called EOH Microsoft Coastal (Pty) Ltd. which later became known as iOCO. It was here where I got introduced to web development itself and the mircosoft development stack
                    (which included Visual Studios, MSSQL, C#, working with SQL, JQuery, Javascript, ASP.NET [MVC], APIs, and more).
                </p>
                <p class="card-text">
                    I later went on to officially start work as an intern web developer for EOH MC and got outsourced to Old Mutual, a large Finance and Investment company.
                    It was here where a learned most of and developed my skillset to be the developer I am today.
                </p>
                <p class="card-text">
                    Our team has transitioned into a Front-End Angular heavy team since last year, and I've been working on improving my Angular dev skills and basic DevOps skillsets.
                </p>
            </div>
        </div>
    </div>
</div>
