<div class="row">
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal Details:</h5>
                <ul class="ul-no-bullets">
                    <li><strong>Sex/Gender:</strong> Male/Man</li>
                    <li><strong>Date of Birth:</strong> 2 March 1993</li>
                    <li><strong>Country of Birth:</strong> South Africa</li>
                    <li><strong>Nationality:</strong> South African (ID: 930302 5105 080)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Education</h5>
                <ul class="ul-no-bullets">
                    <li>
                        <h5><strong>Institute:</strong> University of South Africa (UNISA)</h5>
                    </li>
                    <li><strong>Degree:</strong> Bachelor of Science in Computing</li>
                    <li><strong>Duration:</strong> 2021 - Current</li>
                    <li><a href="https://www.unisa.ac.za/sites/corporate/default/Register-to-study-through-Unisa/Undergraduate-&-honours-qualifications/Find-your-qualification-&-choose-your-modules/All-qualifications/Bachelor-of-Science-in-Computing-Computing-(98906-%E2%80%93-COM)"
                            class="btn primary-button-color"
                            target="_blank">Degree syllabus</a></li>
                </ul>
                <ul class="ul-no-bullets">
                    <li>
                        <h5><strong>Institute:</strong> University of South Africa (UNISA)</h5>
                    </li>
                    <li><strong>Degree:</strong> Bachelor of Science in Computer Science and Mathematics</li>
                    <li><strong>Duration:</strong> 2014 - 2020 (not completed)</li>
                    <li><a href="https://www.unisa.ac.za/sites/corporate/default/Register-to-study-through-Unisa/Undergraduate-&-honours-qualifications/Find-your-qualification-&-choose-your-modules/All-qualifications/Bachelor-of-Science-Mathematics-and-Computer-Science-Stream-(98801-%E2%80%93-MCS)"
                            class="btn primary-button-color"
                            target="_blank">Degree syllabus</a></li>
                </ul>
                <ul class="ul-no-bullets">
                    <li>
                        <h5><strong>Institute:</strong> Hoërskool Warmbad (Highschool)</h5>
                    </li>
                    <li><strong>Degree:</strong> National Senior Certificate</li>
                    <li><strong>Duration:</strong> 2007 - 2011 (completed)</li>
                    <li>
                        <button type="button" class="btn primary-button-color" data-toggle="modal"
                            data-target="#exampleModal">
                            NSC certificate
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Skillset</h5>
                <ul>
                    <li>C#</li>
                    <li>SQL</li>
                    <li>Javascript</li>
                    <li>Angular 9</li>
                    <li>HTML/CSS</li>
                    <li>ASP.NET (includes MVC)</li>
                    <li>APIs</li>
                    <li>Visual Studio Professional/Community IDE</li>
                    <li>Visual Studio Code</li>
                    <li>MSSQL</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Languages</h5>
                <ul>
                    <li>English - Fluent</li>
                    <li>Afrikaans - Fluent</li>
                    <li>Spanish - Lower Intermediate</li>
                    <li>French - Basic</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hobbies</h5>
                <ul>
                    <li>Crossfit</li>
                    <li>Reading Sci-fi/Fantasy/Surrealism novels</li>
                    <li>Studying other languages & cultures</li>
                    <li>Doing investments and savings, as well as personal financial management</li>
                    <li>Playing computer games</li>
                    <li>Browsing the web</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalTitle">National Senior Certificate (South African Highschool diploma)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img class="img-fluid" style="max-width: 100%; height: auto;" src="../../assets/content/images/NSC.PNG">
            </div>         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>