<div class="row white-text">
    <div class="col-sm-6">
        <label><strong>Nationality:</strong></label>
        <p>South African</p>
        <label><strong>Languages:</strong></label>
        <ul>
            <li>English - Fluent</li>
            <li>Afrikaans - Home Language</li>
            <li>Spanish - Lower Intermediate</li>
        </ul>
        <label><strong>Sex/Gender:</strong></label>
        <p>Male/Man</p>
        <label><strong>Date of Birth:</strong></label>
        <p>2 March 1993</p>
    </div>
    <div class="col-sm-6">
        <label><strong>Education:</strong></label>
        <p>Bachelor of Science in Computing (Computer Science)</p>
        <label><strong>Socials:</strong></label>
        <i>Facebook</i>
        <i>Instagram</i>
        <i>LinkedIn</i>
        <i>GitHub</i>
    </div>
    <div class="col-sm-12">
        <label><strong>Work History:</strong></label>
        <br/>
        <label><strong>Junior Programmer:</strong></label>
        <ul>
            <li>August 2020 - Current</li>
            <li>Old Mutual</li>
        </ul>
        <label><strong>Junior .NET Web Developer:</strong></label>
        <ul>
            <li>August 2017 - July 2020</li>
            <li>EOH Microsoft Coastal / iOCO</li>
        </ul>
        <label><strong>Intern Web Developer:</strong></label>
        <ul>
            <li>March 2016 - July 2017</li>
            <li>EOH Microsoft Coastal / iOCO</li>
        </ul>
    </div>
</div>