<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Project Euler</h5>
                <p class="card-text">
                    Project Euler is a series of challenging mathematical/computer programming problems that will require more than just 
                    mathematical insights to solve. Although mathematics will help to arrive at elegant and efficient methods, the use 
                    of a computer and programming skills will be required to solve most problems.
                </p>
                <a href="https://projecteuler.net/" class="btn primary-button-color">Link to Project Euler Site</a>
                <a href="#" class="btn primary-button-color ml-2">Go to My Project</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Crossfit Web App</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn primary-button-color">Go to My Project</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Personal Scheduler</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn primary-button-color">Go to My Project</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">General Online Store</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn primary-button-color">Go to My Project</a>
            </div>
        </div>
    </div>
</div>