<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3>Feel free to contact me</h3>
                <a href="https://github.com/Arriev93/" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/adriaan-venter-425467122/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.facebook.com/Arrie93" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.instagram.com/arriev93/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.paypal.com/paypalme/arriev93" target="_blank"><i class="fa fa-paypal"></i></a>
                <div class="text-center">
                    <img class="img-fluid rounded-circle border border-dark" src="../../assets/content/images/me_mother_father.jpg" width="250" height="250" />
                </div>
                <email></email>
            </div>
        </div>
    </div>
</div>