<div class="container-fluid main-background-color">
    <top-navbar></top-navbar>
    <top-jumbotron></top-jumbotron>
    <div id="home" class="m-5">
        <home></home>
    </div>
    <div id="about" class="m-5">
        <h1>About Me</h1>
        <about></about>
    </div>
    <div id="curriculumVitae" class="m-5">
        <h1>My Curriculum Vitae</h1>
        <curriculum-vitae></curriculum-vitae>
    </div>
    <div id="projects" class="m-5"> 
        <h1>Projects</h1>
        <projects></projects>
    </div>
    <div id="contact" class="m-5">
        <h1>Contact Me</h1>
        <contact></contact>
    </div>
</div>  