<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Junior Programmer</h5>
                <ul class="ul-no-bullets">
                    <li><strong>Company name:</strong> Old Mutual Life Assurance Company (South Africa) Limited (OMLACSA)</li>
                    <li><strong>Head Office:</strong> Mutual Park, Jan Smuts Drive, Pinelands, 7405, South Africa</li>
                    <li><strong>Duration:</strong> August 2020 - Current</li>
                    <li><strong>Description of job:</strong> </li>
                    <li><strong>Role & Responsibilities:</strong> </li>
                    <li><strong>Reference(s):</strong> </li>
                    <li><a href="https://www.oldmutualinsurance.co.za/" target="_blank">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Junior .NET Web Developer</h5>
                <ul class="ul-no-bullets">
                    <li><strong>Company name:</strong> EOH Microsoft Coastal / iOCO</li>
                    <li><strong>Head Office:</strong> EOH Business Park, Gillooly's View, Osborne Lane, Bedfordview, 2007, South Africa</li>
                    <li><strong>Duration:</strong> August 2017 - July 2020</li>
                    <li><strong>Description of job:</strong> </li>
                    <li><strong>Role & Responsibilities:</strong> </li>
                    <li><strong>Reference(s):</strong> </li>
                    <li><a href="https://ioco.tech/" target="_blank">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Intern Web Developer</h5>
                <ul class="ul-no-bullets">
                    <li><strong>Company name:</strong> EOH Microsoft Coastal / iOCO</li>
                    <li><strong>Head Office:</strong> EOH Business Park, Gillooly's View, Osborne Lane, Bedfordview, 2007, South Africa</li>
                    <li><strong>Duration:</strong> 15 March 2016 - June 2017</li>
                    <li><strong>Description of job:</strong> </li>
                    <li><strong>Role & Responsibilities:</strong> </li>
                    <li><strong>Reference(s):</strong> </li>
                    <li><a href="https://ioco.tech/" target="_blank">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-body tertiary-background-color">
                <h5 class="card-title">Admin Clerk</h5>
                <ul class="ul-no-bullets">
                    <li><strong>Company name:</strong> Luhan Auto (Pty) Ltd.</li>
                    <li><strong>Head Office:</strong> 522 Ben Swart St, Gezina, Pretoria, 0084, South Africa</li>
                    <li><strong>Duration:</strong> </li>
                    <li><strong>Description of job:</strong> </li>
                    <li><strong>Role & Responsibilities:</strong> </li>
                    <li><strong>Reference(s):</strong> </li>
                    <li><a href="https://luhanauto.co.za/" target="_blank">Link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>